#jinja2: lstrip_blocks: True
{% if pillar_roots is defined and pillar_roots | length %}
pillar_roots:
  {% for env in pillar_roots %}
  {{ env }}:
  {% for v in pillar_roots[env] %}
    - {{ v }}
  {% endfor %}
  {% endfor %}
{% endif %}