[mariadb]
name = MariaDB
baseurl=https://mirrors.aliyun.com/mariadb/yum/{{ mariadb_version }}/centos{{ ansible_facts.distribution_major_version | int }}-amd64
gpgkey=https://mirrors.aliyun.com/mariadb/yum/RPM-GPG-KEY-MariaDB
gpgcheck=1
enabled=1