driftfile /var/lib/ntp/drift
logfile /var/log/ntp.log
pidfile /var/run/ntp.pid

restrict -6 default ignore
restrict    default ignore
restrict -6 ::1
restrict    127.0.0.1

{% if ntp_restricts | length > 0 %}
{% for restrict in ntp_restricts %}
restrict {{ restrict.network }} mask {{ restrict.netmask }} nomodify notrap noquery nopeer kod
{% endfor %}
{% endif %}

{% if ntp_servers | length == 0 %}
set ntp_servers=['ntp.aliyun.com'] %}
{% endif %}

{% for server in ntp_servers %}
server {{ server }} iburst minpoll 4 maxpoll 10
restrict {{ server }} nomodify notrap noquery nopeer
{% endfor %}

disable monitor